/* Universal Styles */
body {
    margin: 0;
    font-family: 'Nunito', Sans-Serif;
    color: seashell;
    background-color: #2E4159;
    font-size: 22px;
    text-align: center;   
}
h1 {
    font-family: 'Libre Baskerville', Serif;
    font-size: 36px;
}
h2 {
   font-family:  'Libre Baskerville', Serif;
   padding: 20px;   
}
h3 {
    font-family: 'Libre Baskerville', Serif;
    padding: 10px;
}
/* Header */

li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
}
a {
    color:  rgba(230,230,230,0.8);
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;

}
.logo {
    display: inline;
    height: 100px;
    width: 175px;
    margin: 30px 100px;  
}
/* Banner*/
.banner {
background-image: url(../CompanyHomePage-EtruscoCotto/Resources/tri.jpg);
display: flex;
height: 500px;
width: 100%;
}
.banner .content {
margin: auto;
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
background-color: #2E4159;
height: 200px;
}
.banner h1 {
text-transform: uppercase;
padding: 20px;
}
/* Portfolio*/
.Portfolio {
    min-height: 500px;
    margin: auto;
    padding-top: 70px;
}
.Portfolio .content {
    font-family: 'Nunito', Sans-Serif;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 80px 0px;
}
#PortfolioPhotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
    
}
.portfoliophoto {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.portfoliophoto img {
margin-left: auto;
margin-right: auto;
width: 400px;
padding: 10px;
height: auto;
}
.portfoliophoto span {
padding: 5px;
min-width: 240px;
font-weight: bold;
text-align: center;
font-size: 14px;
}
/*Team*/

.Team {
    padding-top: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.teammate {
padding: 10px;
flex-basis: 280px;
font-size: 18px;
padding-bottom: 30px;
}
.teammate img {
width: 200px;
height: 300px;
margin-left: auto;
margin-right: auto;
}
/* Footer*/
.footer {
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
background-color:  rgba(0,0,0,0.5); 
}
.footersection {
color: rgba(230,230,230,0.8);
font-size: 12px;
font-weight: lighter;
line-height: 2;
text-align: left;
margin-top: 40px; 
margin-bottom: 40px;
}